html, body {
width:100%;
height: auto;
margin: 0px;
}

/*This was commented to show the projection in a clear mode

/* .gratLines {
    fill: none;
    stroke: white;
    stroke-width: 0.5px;
} */
.mr-auto{
	padding-left: 15px;
}

.container{
	position: absolute;
	color:white;
	top: 850px;
	display: block;
	width: auto;


}
.navbar-nav{
	padding-right: 15px;
}

.gratBackground{
	fill:black;
}
.state{
	stroke: black;

}
.map{
	background-color: black;
  border: 2px solid red;
  float: left;
  box-shadow: 2px -1px 3px black;
	border-radius:10px;
	stroke: black;
	stroke-width: 1px;
  stroke-linecap: round;
	margin-left: 15px;
}

.chartFrame {
  fill:black ;
	background-color: black;
  stroke-width: 1px;
  shape-rendering: crispEdges;
	box-shadow: 2px -1px 2px black;
}
.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
		fill:white;

}

.chart {

    background-color: black;
    border: 2px solid red;
    float: right;
		height: 614px;
    box-shadow: 2px 2px 2px black;
		border-radius:10px;
		margin-right: 15px;
}
.axis{
	fill:none;
	color:white;
	stroke-width:2px;
	font-size: 13px;
}


.dropdown {

    position: absolute;
    background:white;
    top: 200px;
    left: 30px;
    z-index: 20;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    border: 2px solid maroon;
    box-shadow: 1px -1px 1px white;
    width:320px;
    height:35px;
    border-radius:8px
}
option {
    font-weight: normal;
}

.infolabel {
    margin: 0 10px 0 0;
    position: absolute;
    height: 40px;
    min-width: 150px;
    color: #fff;
    background-color: maroon;
    border: solid #19b2c6;
    padding: 4px 4px;
    top: -75px;
	font-size:12px;
	border-radius:8px;
}

.infolabel h1 {
    margin: 0 4px 0 0;
    padding: 0;
		font-size: 20px;
    display: inline-block;
    line-height: 1em;
}
body{
  background-color: lightgrey;
}
.navbar-dark{
	background: #03353A;
	border-bottom: 2px solid white;
}

.navbar-dark:hover{
	box-shadow: 0 0 12px 5px rgba(15, 15, 15, 0.9);
}

.navbar-dark .nav-item:hover .nav-link{
    color: yellow;
    background: rgba(240, 255, 0, 0.29); /* add background-color to active links */
    border-radius: 10px;
    display:block;
}

.nav-link{
  color: white;
  font-size: 17px;
}

.tasksPerson{
height:610px;
width:110%;
background:black;
border: 2px solid red;
border-radius: 15px;
padding:15px;
box-shadow: 2px -1px 3px black;
}
canvas{
		  margin: 0 auto;
		}
